<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>日常巡查</string>
		<key>values</key>
		<array>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人:肖冰、马俊</string>
				<key>third</key>
				<string>巡查日期：2014年3与3日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>496572.707|496560.158|496564.079|497424.302|498011.324</string>
				<key>y</key>
				<string>3080778.072|3080056.145| 3079458.537|3079429.276|3079460.169</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：阙柳、李殿龙</string>
				<key>third</key>
				<string>巡查日期：2014年3与5日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>501518.328|503086.106|503526.000|503294.301</string>
				<key>y</key>
				<string>3083893.676|3082566.622| 3082225.603|3081685.737</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：丁奕、谢文奇</string>
				<key>third</key>
				<string>巡查日期：2014年3与7日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>501640.418|502285.718|502602.199|503086.106|503149.837|503877.249</string>
				<key>y</key>
				<string>3081120.921|3081517.661|3081689.859|3082566.622|3082706.722|3083457.398</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：方国智、徐志春</string>
				<key>third</key>
				<string>巡查日期：2014年3与5日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>0</string>
				<key>x</key>
				<string>498478.444|500987.944|502816.820</string>
				<key>y</key>
				<string>3074709.640|3074714.420|3074651.046</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：阙柳、李殿龙</string>
				<key>third</key>
				<string>巡查日期：2014年3与7日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>501640.418</string>
				<key>y</key>
				<string>3081120.921</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：阙柳、李殿龙</string>
				<key>third</key>
				<string>巡查日期：2014年3与5日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>502602.199</string>
				<key>y</key>
				<string>3081689.859</string>
			</dict>
			<dict>
				<key>first</key>
				<string></string>
				<key>second</key>
				<string>巡查责任人：方国智、徐志春</string>
				<key>third</key>
				<string>巡查日期：2014年3与3日</string>
				<key>fourth</key>
				<string>巡查地段：城市主要干道和广场两侧50米区域和其他区域需要跟踪巡查的重要建设工程</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>503877.249</string>
				<key>y</key>
				<string>3083457.398</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>放验线</string>
		<key>values</key>
		<array>
			<dict>
				<key>first</key>
				<string>东方时代广场8#栋</string>
				<key>second</key>
				<string>工程地点：红旗中路25号</string>
				<key>third</key>
				<string>施工单位：湖南白云投资发展有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3与7日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8695</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string> 505336.7	</string>
				<key>y</key>
				<string>3083991.8</string>
			</dict>
			<dict>
				<key>first</key>
				<string>康馨佳园</string>
				<key>second</key>
				<string>工程地点：黄河南路4A区</string>
				<key>third</key>
				<string>施工单位：株洲市旭洲地产开发有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3月6日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8691</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>499324.25</string>
				<key>y</key>
				<string>3078852.58</string>
			</dict>
			<dict>
				<key>first</key>
				<string>天顺锦楼</string>
				<key>second</key>
				<string>工程地点：桂花路</string>
				<key>third</key>
				<string>施工单位：湖南天顺房地产开发有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3与6日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8693</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>502509.94</string>
				<key>y</key>
				<string>3079197.48</string>
			</dict>
			<dict>
				<key>first</key>
				<string>万家理想</string>
				<key>second</key>
				<string>工程地点： 株洲大道</string>
				<key>third</key>
				<string>施工单位：湖南尚格置业有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3与5日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8690</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498248.03</string>
				<key>y</key>
				<string>3080452.61</string>
			</dict>
			<dict>
				<key>first</key>
				<string>3320号机加厂房（5115重点工程）</string>
				<key>second</key>
				<string>工程地点：南方公司中心生产区</string>
				<key>third</key>
				<string>施工单位：中国南方航空工业（集团）有限公司</string>
				<key>fourth</key>
				<string>验线日期： 2014年3与4日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8687</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>502528.64</string>
				<key>y</key>
				<string>3077050.97</string>
			</dict>
			<dict>
				<key>first</key>
				<string>金路小区4#栋</string>
				<key>second</key>
				<string>工程地点：芦淞路157号</string>
				<key>third</key>
				<string>施工单位：湖南伟大集团地产股份有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3与4日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8684</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>502381.980</string>
				<key>y</key>
				<string>3078772.33</string>
			</dict>
			<dict>
				<key>first</key>
				<string>中泰-财富湘江一期</string>
				<key>second</key>
				<string>工程地点：滨江南路</string>
				<key>third</key>
				<string>施工单位：株洲中泰房地产开发有限公司</string>
				<key>fourth</key>
				<string>验线日期：2014年3与4日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8683</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>499165.28</string>
				<key>y</key>
				<string>3081274.28</string>
			</dict>
			<dict>
				<key>first</key>
				<string>武装部营院</string>
				<key>second</key>
				<string>工程地点：枫溪办事处燎原村</string>
				<key>third</key>
				<string>施工单位：中国人民解放军湖南省株洲芦淞区人民武装部</string>
				<key>fourth</key>
				<string>验线日期：2014年3与3日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8682</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>496044.93</string>
				<key>y</key>
				<string>3085382.41</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>批后跟踪</string>
		<key>values</key>
		<array>
			<dict>
				<key>first</key>
				<string> 经世龙城二期商业（邻里中心、商业一、二及地下室）</string>
				<key>second</key>
				<string> 建设地点：栗雨工业园47区</string>
				<key>third</key>
				<string>建设单位：株洲市经世华源房地产开发有限责任公司</string>
				<key>fourth</key>
				<string>所处阶段：基础±0</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8746</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498478.444</string>
				<key>y</key>
				<string>3074709.640</string>
			</dict>
			<dict>
				<key>first</key>
				<string>金彩明天公租房（邻里中心）</string>
				<key>second</key>
				<string> 建设地点：武广片区13号地块</string>
				<key>third</key>
				<string>建设单位：株洲市城发集团房地产开发有限公司</string>
				<key>fourth</key>
				<string>所处阶段：首层盖板</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8722</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>501640.418</string>
				<key>y</key>
				<string>3081120.921</string>
			</dict>
			<dict>
				<key>first</key>
				<string>金馨花园</string>
				<key>second</key>
				<string> 建设地点：金钩山路东侧</string>
				<key>third</key>
				<string>建设单位：湖南腾龙房地产开发有限责任公司</string>
				<key>fourth</key>
				<string>所处阶段：裙楼盖板</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8703</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string>503086.106</string>
				<key>y</key>
				<string>3082566.622</string>
			</dict>
			<dict>
				<key>first</key>
				<string>奥园.神农养生城二期</string>
				<key>second</key>
				<string> 建设地点：16区</string>
				<key>third</key>
				<string>建设单位：株洲金业房地产开发有限公司</string>
				<key>fourth</key>
				<string>所处阶段：标准层</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8696</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>496564.079</string>
				<key>y</key>
				<string>3079458.537</string>
			</dict>
			<dict>
				<key>first</key>
				<string>经世龙城一期住宅1-9#栋及地下室</string>
				<key>second</key>
				<string> 建设地点：栗雨工业园47区</string>
				<key>third</key>
				<string>建设单位：株洲市经世华源房地产开发有限责任公司</string>
				<key>fourth</key>
				<string>所处阶段：主体封顶</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8608</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>502602.199</string>
				<key>y</key>
				<string>3081689.859</string>
			</dict>
			<dict>
				<key>first</key>
				<string>湘银公馆</string>
				<key>second</key>
				<string> 建设地点：二十三区长江北路西侧</string>
				<key>third</key>
				<string>建设单位：株洲湘银投资置业有限公司</string>
				<key>fourth</key>
				<string>所处阶段：外立面</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8555</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>502816.820</string>
				<key>y</key>
				<string>3074651.046</string>
			</dict>
			<dict>
				<key>first</key>
				<string>华晨国际商业广场</string>
				<key>second</key>
				<string> 建设地点：庐山路19区</string>
				<key>third</key>
				<string>建设单位：株洲华晨房地产开发有限责任公司</string>
				<key>fourth</key>
				<string>所处阶段：首层盖板</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8552</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string>503877.249</string>
				<key>y</key>
				<string>3083457.398</string>
			</dict>
			<dict>
				<key>first</key>
				<string>华晨国际11、12#栋(方案调整）</string>
				<key>second</key>
				<string> 建设地点：庐山路</string>
				<key>third</key>
				<string>建设单位：株洲华晨房地产开发有限责任公司</string>
				<key>fourth</key>
				<string>所处阶段：裙楼盖板</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string>8550</string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498011.324</string>
				<key>y</key>
				<string>3079460.169</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>违法案件</string>
		<key>values</key>
		<array>
			<dict>
				<key>first</key>
				<string>株洲神农千金医药食品物流有限公司</string>
				<key>second</key>
				<string>案由：神农千金医药食品仓储</string>
				<key>third</key>
				<string>违建地址：天元区武广西站旁</string>
				<key>fourth</key>
				<string>违法单位：株洲神农千金医药食品物流有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月9日</string>
				<key>sixth</key>
				<string>监察人员：向岳松、徐志春</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第001号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>499260.184</string>
				<key>y</key>
				<string>3079500.188</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲百江房地产开发有限公司</string>
				<key>second</key>
				<string>案由：百江花园明珠1#栋</string>
				<key>third</key>
				<string>违建地址：芦淞区1815线零公里处</string>
				<key>fourth</key>
				<string>违法单位：株洲百江房地产开发有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月15日</string>
				<key>sixth</key>
				<string>监察人员：莫光辉、谢文奇</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第002号</string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>501691.647</string>
				<key>y</key>
				<string>3078203.478</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市九方中学</string>
				<key>second</key>
				<string>案由：艺体楼</string>
				<key>third</key>
				<string>违建地址：校内</string>
				<key>fourth</key>
				<string>违法单位：株洲市九方中学</string>
				<key>fifth</key>
				<string>时间：2013年1月18日</string>
				<key>sixth</key>
				<string>监察人员：马俊、肖冰</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第003号</string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string>499072.537</string>
				<key>y</key>
				<string>3085400.984</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市经世华源房地产开发有限责任公司</string>
				<key>second</key>
				<string>案由：经世龙城一期</string>
				<key>third</key>
				<string>违建地址：天元区四十七区</string>
				<key>fourth</key>
				<string>违法单位：株洲市经世华源房地产开发有限责任公司</string>
				<key>fifth</key>
				<string>时间：2013年1月16日</string>
				<key>sixth</key>
				<string>监察人员：向岳松、方国智、徐志春</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第004号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498983.926</string>
				<key>y</key>
				<string>3079869.335</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市园林局</string>
				<key>second</key>
				<string>案由：神农千金医药食品仓储</string>
				<key>third</key>
				<string>违建地址：风雨连廊</string>
				<key>fourth</key>
				<string>违法单位：株洲市园林局</string>
				<key>fifth</key>
				<string>时间：2013年1月29日</string>
				<key>sixth</key>
				<string>监察人员：向岳松、方国智、徐志春</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第005号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498998.006</string>
				<key>y</key>
				<string>3079379.873</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲兆富房地产开发有限公司</string>
				<key>second</key>
				<string>案由：兆富佳园</string>
				<key>third</key>
				<string>违建地址：建设北路</string>
				<key>fourth</key>
				<string>违法单位：株洲兆富房地产开发有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月18日</string>
				<key>sixth</key>
				<string>监察人员：肖冰、马俊</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第006号</string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>497615.507</string>
				<key>y</key>
				<string>3084378.554</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市贺家土小学</string>
				<key>second</key>
				<string>案由：综合教学楼</string>
				<key>third</key>
				<string>违建地址：芦淞区人民中路</string>
				<key>fourth</key>
				<string>违法单位：株洲市贺家土小学</string>
				<key>fifth</key>
				<string>时间：2013年1月23日</string>
				<key>sixth</key>
				<string>监察人员：丁奕、谢文奇、莫光辉</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第007号</string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>501278.999</string>
				<key>y</key>
				<string>3080699.013</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市馨香房地产开发有限公司</string>
				<key>second</key>
				<string>案由：橄榄城一期</string>
				<key>third</key>
				<string>违建地址：天元区珠江北路</string>
				<key>fourth</key>
				<string>违法单位：株洲市馨香房地产开发有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月23日</string>
				<key>sixth</key>
				<string>监察人员：方国智、向岳松</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第008号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498506.983</string>
				<key>y</key>
				<string>3078158.777</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市金业房地产公司</string>
				<key>second</key>
				<string>案由：邻里中心样板房</string>
				<key>third</key>
				<string>违建地址：神农大道旁</string>
				<key>fourth</key>
				<string>违法单位：株洲市金业房地产公司</string>
				<key>fifth</key>
				<string>时间：2013年2月25日</string>
				<key>sixth</key>
				<string>监察人员：向岳松、方国智、徐志春</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第009号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>497423.152</string>
				<key>y</key>
				<string>3078725.004</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲湘誉房地产开发有限公司</string>
				<key>second</key>
				<string>案由：湘银星城二期</string>
				<key>third</key>
				<string>违建地址：黄河北路</string>
				<key>fourth</key>
				<string>违法单位：株洲湘誉房地产开发有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月30日</string>
				<key>sixth</key>
				<string>监察人员：向岳松、方国智</string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string>株规停字[2013]第010号</string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>496763.894</string>
				<key>y</key>
				<string>3080049.501</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲亿都房地产开发有限公司</string>
				<key>second</key>
				<string>案由：亿都铂金时代</string>
				<key>third</key>
				<string>违建地址：荷塘区新塘路</string>
				<key>fourth</key>
				<string>违法单位：株洲亿都房地产开发有限公司</string>
				<key>fifth</key>
				<string>时间：2013年1月31日</string>
				<key>sixth</key>
				<string>监察人员：阙柳、李殿龙</string>
				<key>seventh</key>
				<string>3</string>
				<key>eighth</key>
				<string>株规停字[2013]第011号</string>
				<key>ninth</key>
				<string></string>
				<key>x</key>
				<string>502362.478</string>
				<key>y</key>
				<string>3083642.904</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>停工单</string>
		<key>values</key>
		<array>
			<dict>
				<key>first</key>
				<string>株洲神农千金医药食品物流有限公司</string>
				<key>second</key>
				<string>停工地点：天元区武广西站旁</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月9日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>499260.184</string>
				<key>y</key>
				<string>3079500.188</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲百江房地产开发有限公司</string>
				<key>second</key>
				<string>停工地点：芦淞区1815线零公里处</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月15日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>501691.647</string>
				<key>y</key>
				<string>3078203.478</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市九方中学</string>
				<key>second</key>
				<string>停工地点：校内</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月18日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string>499072.537</string>
				<key>y</key>
				<string>3085400.984</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市经世华源房地产开发有限责任公司</string>
				<key>second</key>
				<string>停工地点：天元区四十七区</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月16日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498983.926</string>
				<key>y</key>
				<string>3079869.335</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市园林局</string>
				<key>second</key>
				<string>停工地点：黄河路口</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月29日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498998.006</string>
				<key>y</key>
				<string>3079379.873</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲兆富房地产开发有限公司</string>
				<key>second</key>
				<string>停工地点：建设北路</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月18日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>4</string>
				<key>x</key>
				<string>497615.507</string>
				<key>y</key>
				<string>3084378.554</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市贺家土小学</string>
				<key>second</key>
				<string>停工地点：芦淞区人民中路</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月23日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>1</string>
				<key>x</key>
				<string>501278.999</string>
				<key>y</key>
				<string>3080699.013</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市馨香房地产开发有限公司</string>
				<key>second</key>
				<string>停工地点：天元区珠江北路</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月23日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>498506.983</string>
				<key>y</key>
				<string>3078158.777</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲市金业房地产公司</string>
				<key>second</key>
				<string>停工地点：神农大道旁</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年2月25日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>497423.152</string>
				<key>y</key>
				<string>3078725.004</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲湘誉房地产开发有限公司</string>
				<key>second</key>
				<string>停工地点：黄河北路</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月30日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>2</string>
				<key>x</key>
				<string>496763.894</string>
				<key>y</key>
				<string>3080049.501</string>
			</dict>
			<dict>
				<key>first</key>
				<string>株洲亿都房地产开发有限公司</string>
				<key>second</key>
				<string>停工地点：荷塘区新塘路</string>
				<key>third</key>
				<string>停工事由：未经审批建设</string>
				<key>fourth</key>
				<string>停工单日期：2013年1月31日</string>
				<key>fifth</key>
				<string></string>
				<key>sixth</key>
				<string></string>
				<key>seventh</key>
				<string></string>
				<key>eighth</key>
				<string></string>
				<key>ninth</key>
				<string>3</string>
				<key>x</key>
				<string>502362.478</string>
				<key>y</key>
				<string>3083642.904</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
