 html, body{margin: 0;}
 
.touch-mark{background:url(images/circle.png) no-repeat; width:94px; height:100px; position:absolute;}
.touch-mark-s1{background-position:0px 0px; opacity:1;}
.touch-mark-s2{background-position:-96px 0px;opacity:.6;}
.touch-mark-s3{background-position:-183px 0px;opacity:.2;}

.draglist{list-style:none; padding:0px; margin:0px;}
.draglist LI,.iocnList LI{display:block;}
.nextIcon{background:url(images/go_next.png) no-repeat 96% 10px}
.dragflag{ z-index:2;opacity:0.6; background-color:Silver !important;}
.touchActive{background-color:#5eb2cb !important;}

.scroll-content{ overflow:hidden;}
.viewstack{ overflow:hidden;}
.viewitem{width:100%; height:100%; position:relative; overflow:hidden;}
.moveTransition{-webkit-transition-duration: .8s;-webkit-transition-property: left,top;-webkit-transition-timing-function: ease;}
.bgTrasnsition{-webkit-transition-duration: 1s;-webkit-transition-property: backgroundColor;-webkit-transition-timing-function: ease;}

.favoriteDustbin{right:5px;bottom:0px; float:right; position:absolute;background-repeat:no-repeat;}
.favoriteDustbin-default{width:32px; height:32px;background-image:url('../Img/buttons/closet.png');  }
.favoriteDustbin-highlight{ width:64px; height:64px;background-image:url('../Img/buttons/closet_highlight.png');  }

.button   
{
	 display: inline-block;   
	 outline: none;   
	 cursor: pointer;   
	 text-align: center;   
	 text-decoration: none;   
	 font: 14px/100% Arial, Helvetica, sans-serif; 
	/* text-shadow: 0 1px 1px rgba(0,0,0,.3);  */
	 -webkit-border-radius: 8px;   
	 -moz-border-radius: 8px;   
	 border-radius: 8px;   
	 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
	 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);   
	 box-shadow: 0 1px 2px rgba(0,0,0,.2); 
 }  
 .button:hover {   text-decoration: none;  }  
 .button:active {   position: relative;   top: 1px;  }
 .orange    
 {
 	color: #fef4e9;   
 	border: solid 1px #da7c0c;   
 	background: #f78d1d;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));   
 	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);   
 	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');  
 } 
 .orange:hover    
 {
  	background: #f47c20;   
  	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));   
  	background: -moz-linear-gradient(top,  #f88e11,  #f06015);   
  	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');  
 }  
 .orange:active    
 {
 	color: #fcd3a5;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));   
 	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);   
 	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');  
 }
 .blue    
 {
 	color: #FFFFFF;   
 	border: solid 1px #0076C3;   
 	background: #0095CD;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#6A6AFF), to(#0000A6));   
 }  
 .blue:active    
 {
 	color: #FFFFFF;   
 	background: #0095CD;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#7171FF), to(#0078C5));   
 }
  .white    
 {
 	color: #61749B;   
 	border: solid 1px #B5B5B7;   
 	background: #E7E7E7;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#D8D8D8));   
 }  
 .white:active    
 {
 	color: #61749B;   
 	background: #E7E7E7;   
 	background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#A4A4A4));   
 }


 